<?xml version="1.0" encoding="utf-8"?>
<launch>
    <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="base_footprint_to_camera_depth"
        args="0 0 0.54 -1.570796326794896 0 -1.570796326794896 base_footprint camera_depth_optical_frame">
    </node> -->

    <!-- <node pkg="km_utils_ros" type="image_transporter" name="depth_image_transporter"  output="screen">
        <param name="input_image"    type="string" value="/realsense_loomo/depth/raw"/>
        <param name="output_image"    type="string" value="/realsense_loomo/depth/encorded"/>
    </node> -->


    <node pkg="nodelet" type="nodelet" args="manager" name="depth_image_to_pointcloud_manager" output="screen"/>
    <!-- <node pkg="depth_image_proc" type="point_cloud_xyzrgb" name="depth_to_pointcloud_rgb" output="screen" respawn="true"> -->
    <node pkg="nodelet" type="nodelet" name="depth_to_pointcloudrgb" args="load depth_image_proc/point_cloud_xyzrgb depth_image_to_pointcloud_manager" output="screen" respawn="true">
        <remap from="rgb/image_rect_color" to="/realsense_loomo/rgb/image_raw"/>
        <remap from="depth_registered/image_rect" to="/realsense_loomo/depth/image"/>
        <remap from="rgb/camera_info" to="/realsense_loomo/rgb/camera_info"/>
        <param name="queue_size" type="int" value="5"/>
    </node>
     <!-- <node pkg="nodelet" type="nodelet" name="convert_metric" args="load depth_image_proc/convert_metric depth_image_to_pointcloud_manager" output="screen" respawn="true">
        <remap from="camera_info" to="/realsense_loomo/depth/camera_info"/>
        <remap from="image_raw" to="/realsense_loomo/depth/encorded"/>
        <remap from="image" to="/realsense_loomo/depth/image"/>
    </node> -->
    
    <!-- <node pkg="nodelet" type="nodelet" name="depth_to_pointcloud" args="load depth_image_proc/point_cloud_xyz depth_image_to_pointcloud_manager" output="screen" respawn="true">
        <remap from="camera_info" to="/realsense_loomo/depth/camera_info"/>
        <remap from="image_rect" to="/realsense_loomo/depth/image"/>
        <remap from="points" to="/points"/>
    </node> -->

    <!-- <node pkg="nodelet" type="nodelet" name="disparity" args="load depth_image_proc/disparity depth_image_to_pointcloud_manager" output="screen" respawn="true">
        <remap from="camera_info" to="/realsense_loomo/depth/camera_info"/>
        <remap from="image_rect" to="/realsense_loomo/depth/image"/>
        <remap from="points" to="/points"/>
    </node> -->
</launch>